/* ARREGLITOS */

html {
    padding: 3px 10px;
    border-radius: 20px;
  }

body{
    margin: 0;
    display: grid; 
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.content{
    flex: 1;
}

.head{
    display: flex;
    height: 100px;
}


.logo{
    height: 100px;
    width: 100px;
    margin-left: 20px;
}

.containerheader{
    display: flex;
    justify-content: center;
}

.logintitle{
    text-align: center;
}

.loginp{
    text-align: center;

}

.container-login{
        max-width: 500px; 
        padding: 10px; 
        margin: 0 auto;    
}

.container-banner{
  display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
}
.container-banner a {

    justify-content: center;
    align-items: center;
  }

.img-banner{
    width: 40%;
    height: auto;
    transition: transform 0.3s ease;
}

.img-banner:hover{
    transform: scale(1.1);
}


/* FUENTES*/

.productos-inicio h1 {
    font-size: 35px;
    padding-left: 25px;
    padding-top: 25px;
}

/* COLORES*/



/* MENU*/

.nav-link .bi {
    font-size: 24px; /* Tamaño deseado en píxeles */
  }

/* FOOTER*/
.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.red-social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: black;
    text-align: center;
    transition: all 300ms ease;
}

.social-container{
    margin-bottom: 10px;
}

.red-social a:hover {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(253,193,104,1) 0%, rgba(251,128,128,1) 90% );
}

.small {
    font-size: 15px;
    padding-top: 10px;
}



  /* DARK MODE */

.dark-mode{
    background-color: rgb(42, 39, 39);
    color: white;
    transition: all 0.3s ease-out;
  }



